.message_container{

    margin: 0 auto;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.messages{
    width: 500px;
    height: 500px;
    background: grey;
}

input{
    width: 440px;
    margin: 2px;
}

.users{
    width: 150px;
    height: 500px;
    background: purple;
}