.message_container{
    display: flex;
    margin: 0 auto;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.messages{
    width: 500px;
    height: 500px;
    background: grey;
}

input{
    width: 440px;
    margin: 2px;
}

.info{
    width: 150px;
    height: 500px;
}

button{
    margin: 5px;
}

h2{
    text-align: center;
}

.message {
    display: flex;
    margin: 5px;
}

.autor {
    color: #ff4d4d;

}

.text {
    background: #490909;
    color: #4d4dff;
}